/* Button StyleSheet*/
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins";

.primary-button {
	background-color: $primary-cta;
	color: $primary-light;
	border-radius: 4px;
	width: 100%;
	height: 2.5rem;
	border: none;
	cursor: pointer;
	text-transform: uppercase;

	&:hover {
		background-color: $secondary-cta;
	}

	@include mixins.tablet {
		max-width: 9.375rem;
		padding: 0 2rem;
	}
}
