/** Mixins====================
 Flex, Media Query 
 =============================**/
@use "./variables" as *;

/* Flex mixins */
@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-row-x-center {
	display: flex;
	justify-content: center;
}

@mixin flex-row-y-center {
	display: flex;
	align-items: center;
}

/* Font size  Mobile mixins */
@mixin page-header-mobile {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	padding: 1.5rem 0 1rem;
}

@mixin section-header-mobile {
	font-size: 0.75rem;
	line-height: 1.25rem;
	font-weight: 700;
}

@mixin sub-header-mobile {
	font-size: 0.8125rem;
	line-height: 1.125rem;
	font-weight: 700;
	padding: 1.5rem 0 1rem;
}

@mixin body-mobile {
	font-size: 0.8125rem;
	line-height: 1.125rem;
	font-weight: 400;
}

@mixin label-mobile {
	font-size: 0.625rem;
	line-height: 1.25rem;
	font-weight: 700;
}

/* Font size  Tablet and Desktop mixins */
@mixin page-header-tablet {
	font-size: 2.0625rem;
	line-height: 2.75rem;
	font-weight: 700;
}

@mixin section-header-tablet {
	font-size: 0.75rem;
	line-height: 1.25rem;
	font-weight: 700;
}

@mixin sub-header-tablet {
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 700;
}

@mixin body-tablet {
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
}

@mixin footer-tablet {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
}

@mixin label-tablet {
	font-size: 0.75rem;
	line-height: 1.25rem;
	font-weight: 700;
}

/* Responsive mixins */
@mixin mobile {
	@media (min-width: $mobile-breakpoint) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-breakpoint) {
		@content;
	}
}
