/** Variables   ==============
    Colours, Breakpoints, Gap
=============================**/

/* Primary Colours */
$primary-dark: #323232;
$primary-cta: #0095ff;
$primary-medium: #afafaf;
$primary-light: #fff;

/* Secondary Colours */
$secondary-dark: #000;
$secondary-cta: #0065ad;
$secondary-medium: #e1e1e1;
$secondary-light: #fafafa;

/* Break points */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Gap */
$mobile-gap: 1rem;

$tablet-gap-outside: 2.25rem;
$desktop-gap-outside: 5rem;

$tablet-gap-inside: 1.5rem; // total gap between two elements
$tablet-half-gap-inside: 0.75rem; // total 24px   gap | Element | gap  gap | Element | gap
$desktop-half-gap-inside: 0.75rem;

$mobile-gap-component: 1rem;
$tablet-gap-component: 2.25rem;
