/* Upload page Stylesheet*/
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins";

.upload {
	border-top: 1px solid $secondary-medium;
	&__title {
		padding: $mobile-gap;
		@include mixins.tablet {
			padding: $tablet-gap-outside;
		}
	}

	&__wrapper {
		padding: $mobile-gap;
		@include mixins.tablet {
			padding: $tablet-gap-outside;
		}
		@include mixins.flex-col;
		@include mixins.tablet {
			border-top: 1px solid $secondary-medium;
			border-bottom: 1px solid $secondary-medium;
		}
		@include mixins.desktop {
			@include mixins.flex-row;
			gap: $tablet-gap-outside;
		}
	}

	&__video {
		img {
			width: 100%;
			border-radius: 4px;
			background-color: $secondary-medium;
		}
		@include mixins.tablet {
			width: 40%;
		}

		h3 {
			padding: 0;
		}
	}

	&__form {
		@include mixins.desktop {
			width: 60%;
		}
	}

	&__links {
		margin-top: $mobile-gap;
		@include mixins.flex-column-center;
		justify-content: space-between;
		padding: 0 $mobile-gap;

		@include mixins.tablet {
			@include mixins.flex-row;
			justify-content: flex-end;
			padding: $tablet-gap-outside;
			gap: $mobile-gap;
		}
	}

	&__link {
		color: $primary-cta;
		margin-top: $mobile-gap;
		@include mixins.tablet {
			order: -1;
		}
	}
}

/* Form */

.form-upload {
	@include mixins.flex-col;

	&__textarea,
	&__input {
		background-color: $secondary-light;
		font-family: inherit;
		font-size: inherit;
		padding: 0.75rem;
		min-height: 2.25rem;
		width: 100%;
		border-radius: 4px;
		border: 1px solid $secondary-medium;
		margin-bottom: 8px;

		&:focus {
			outline: none;
			border: 2px solid $primary-cta;
		}
		@include mixins.tablet {
			padding: 1rem;
			min-height: 3rem;
		}
	}

	&__textarea {
		resize: none;
		min-height: 9.2rem;
	}
}
