/* Video items on right sidebar*/
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins";
.video-item {
	margin-bottom: $mobile-gap;

	&__card {
		display: flex;
		cursor: pointer;
	}

	&__img,
	img {
		border-radius: 4px;
		width: 9.375rem;
		height: 5.25rem;
		background-color: $secondary-medium;
		object-fit: cover;
	}

	&__content {
		margin-left: $mobile-gap;

		p {
			padding-top: 1.3rem;
		}
	}
	&__title {
		padding-top: 0;
		display: -webkit-box;
		max-width: 12.5rem;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		max-height: 2.6em;

		@include mixins.tablet {
			display: block;
		}
	}
}
