/* Video items on right sidebar*/
@use "../../styles/partials/variables" as *;
.video-item {
	margin-bottom: $mobile-gap;

	&__card {
		display: flex;
		cursor: pointer;
	}

	&__img,
	img {
		border-radius: 4px;
		width: 9.375rem;
		height: 5.25rem;
		background-color: $secondary-medium;
		object-fit: cover;
	}

	&__content {
		margin-left: $mobile-gap;
	}
	&__title {
		padding-top: 0;
	}
}
