@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins";
.videoList {
	padding: $mobile-gap;
	min-width: 25vw;

	&__title {
		text-transform: uppercase;
		color: $primary-medium;
	}
}
