/* Video Details Stylesheet*/
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins";

.video-details {
	padding: 0 $mobile-gap;

	&__info {
		display: flex;
		align-items: baseline;
		border-top: 1px solid $secondary-medium;
		border-bottom: 1px solid $secondary-medium;
		padding: $mobile-gap 0;
		margin-bottom: $mobile-gap;

		@include mixins.tablet {
			border-top: none;
			justify-content: space-between;
			align-items: baseline;
			padding: 0;
		}
	}

	&__channel-wrapper {
		flex: 1;
		@include mixins.flex-col;
		@include mixins.tablet {
			@include mixins.flex-row;
			flex: 0 auto;
			align-items: baseline;
			h3 {
				padding: 0.5rem;
				margin-right: 0.5rem;
			}
		}
	}

	&__views-wrapper {
		flex: 1;
		@include mixins.flex-col;
		@include mixins.tablet {
			@include mixins.flex-row;
			flex: 0 auto;
		}

		p:first-child {
			padding-bottom: $mobile-gap;
			@include mixins.tablet {
				padding-bottom: 0.5rem;
				margin-right: 0.5rem;
			}
		}
	}

	&__icon {
		margin-right: 0.5rem;
	}
}
